:root {
      --Azul:rgba(4, 107, 165, 1);
      --Celeste:rgba(4, 107, 165, 0.2);
      --DarkGrey: hsl(0, 0%, 12%);
}
body
{
  font-family: "Roboto", sans-serif;
  background-color: var(--DarkGrey);
  font-size: 18px;
}
#root
{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center space-around;
  width: 80vw;
}
